body {
  background-color: black;
  margin: 0;
  padding: 0;
}

img {
  border: 5px solid white;
  width: 100%;
}

h1 {
  text-transform: uppercase;
}

.main-container {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  color: white;
}

.main-container2 {
  width: 50%;
  margin-left: 49%;
  color: white;
  text-align: center;
}

.main-container3 {
  width: 50%;
  color: white;
  text-align: center;
}
